{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "import-glob-array",
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {},
            {
              "cleanupIDs": false
            }
          ]
        }
      }
    ]
  ]
}
