
@font-face {
    font-family:"Courier Prime Sans Bold";
    src:url("Courier Prime Sans Bold.woff2") format("woff2"),url("Courier Prime Sans Bold.woff") format("woff"),url("Courier Prime Sans Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        