.header__logo {
  height: 26px;
}

.hero {
  min-height: 336px;

  &.hero.orange {
    background: linear-gradient(
      352deg,
      #ff9650 21.15%,
      rgba(255, 150, 80, 0.5) 112.03%
    );
  }

  &.hero.pink {
    background: linear-gradient(
      352deg,
      #f06094 21.15%,
      rgba(240, 96, 148, 0.5) 112.03%
    );
  }
}

.hero-home {
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-position: center 20%;

  .container {
    min-height: 316px;

    @screen md {
      min-height: 492px;
    }
  }
}

.button-group {
  a {
    @apply block mb-4;

    @screen lg {
      @apply inline-block mr-6;
    }
  }

  a:last-child {
    @apply mr-0;
  }
}

a.button,
button.button {
  @apply bg-blue text-white px-6 py-4 font-sans text-xl;

  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);

  &:hover {
    @apply bg-pink no-underline shadow-none;
  }
}

/*
 * Cards
 */

.card__description {
  min-height: 100px;
}

.card__links {
  a {
    position: relative;
    padding-left: 24px;

    @apply font-sans-source font-semibold;
  }

  a:hover {
    @apply text-pink;
  }

  a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    height: 24px;
    width: 24px;
    background: url("/img/arrow.svg") no-repeat;

    @apply font-sans font-semibold;
  }

  a:hover::before {
    background: url("/img/arrow-pink.svg") no-repeat;
  }
}
