@font-face {
  font-family: "Courier Prime Sans";
  src: url("/fonts/Courier Prime Sans Bold.woff2") format("woff2"),
    url("/fonts/Courier Prime Sans Bold.woff") format("woff"),
    url("/fonts/Courier Prime Sans Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Courier Prime Sans";
  src: url("/fonts/Courier Prime Sans.woff2") format("woff2"),
    url("/fonts/Courier Prime Sans.woff") format("woff"),
    url("/fonts/Courier Prime Sans.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

.h1 {
  @apply font-bold text-blue font-sans;

  font-size: 36px;
  line-height: 1;

  @screen md {
    font-size: 60px;
  }
}

.h2 {
  @apply font-bold font-sans text-blue;

  font-size: 30px;
  line-height: 1.33333333333;

  @screen md {
    font-size: 36px;
  }
}

.h3 {
  @apply font-sans text-blue;

  font-size: 30px;
  line-height: 1.33333333333;

  @screen md {
    font-size: 36px;
  }
}

.content {
  @apply font-serif text-blue;

  font-size: 24px;
  line-height: 36px;

  p a {
    @apply underline;
  }

  p a:hover {
    @apply text-pink;
  }

  p {
    @apply mb-6;
  }

  ul {
    @apply mb-6 list-disc list-outside pl-6;
  }

  ol {
    @apply mb-2;
    list-style: decimal inside;
  }

  li > ol {
    @apply pl-6;
  }

  .h1,
  h2,
  h3 {
    @apply mt-10 mb-2;
  }
}

footer {
  @apply text-lg text-blue font-sans leading-relaxed;
}

header a,
footer a {
  &:hover {
    @apply underline;
  }
}

.slice {
  cursor: pointer;
}
