.h1 {
  @apply font-bold text-blue font-sans;

  font-size: 60px;
  line-height: 60px;
}

.h2 {
  @apply font-bold font-sans text-blue;

  font-size: 36px;
  line-height: 48px;
}

.h3 {
  @apply font-sans text-blue;

  font-size: 36px;
  line-height: 48px;
}

.content {
  @apply font-serif text-blue;

  font-size: 24px;
  line-height: 36px;

  a:hover {
    @apply underline;
  }

  p {
    @apply mb-6;
  }
}

footer {
  @apply text-lg text-blue font-sans leading-relaxed;
}

header a,
footer a {
  &:hover {
    @apply underline;
  }
}
